# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Database files
*.db
*.sqlite
*.sqlite3

# Virtual environments
.venv/
venv/
env_venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# Checkpoints
checkpoints/

# OS files
.DS_Store
Thumbs.db
